.pra-donutchart {
  align-items: center;
  display: flex;
  flex-direction: column;
  .pra-donutchart-legend {
    display: flex;
    flex-direction: column;
    gap: 8px;
    list-style: none;
    li {
      align-items: center;
      display: flex;
      flex-direction: row;
      gap: 12px;
      justify-content: flex-start;
      label {
        font-family: var(--pra-font-sans-serif-font-family);
      }
      data {
        height: 20px;
        width: 20px;
      }
    }
  }
}
