.pra-header-title {
  color: var(--pra-color-text-color);
  display: grid;
  grid-template-areas: "header-node-left header-title header-node-right";
  grid-template-columns: 90px auto 90px;
  grid-template-rows: auto;
  height: 44px;
  max-width: 100%;
  padding-inline: 12px;
  .pra-header-title-node-right,
  .pra-header-title-node-left {
    display: flex;
    height: 44px;
    width: 90px;
    svg {
      width: 36px;
    }
  }
  .pra-header-title-node-right {
    grid-area: header-node-right;
    justify-content: end;
  }
  .pra-header-title-node-left {
    grid-area: header-node-left;
    justify-content: start;
  }
  .utrecht-heading-3 {
    align-items: center;
    color: var(--pra-color-text-color);
    display: flex;
    font-family: var(--pra-font-sans-serif-font-family);
    font-size: 14px;
    font-weight: 700;
    grid-area: header-title;
    height: 44px;
    justify-content: center;
    text-align: center;
  }
}
