.pra-dropdown {
  font-family: var(--pra-font-sans-serif-font-family);

  .pra-dropdown-header {
    align-items: center;
    color: var(--pra-color-text-color);
    cursor: pointer;
    display: flex;
    flex-direction: row;
    gap: 8px;
    justify-content: start;
    padding-block: 8px;
    &--stappenplan-circle-container {
      align-items: center;
      display: flex;
      height: 24px;
      justify-content: center;
      width: 24px;
    }
    &--stappenplan-circle {
      border-color: var(--pra-color-secondary-600);
      border-radius: 50%;
      border-style: solid;
      border-width: 2px;
      height: 17px;
      width: 17px;
    }
    .pra-dropdown-title {
      font-size: 18px;
      font-weight: 700;
      margin-block: 0;
      margin-inline: 0;
      padding-block: 0;
      padding-inline: 0;
      text-align: start;
    }
    svg {
      height: 24px;
    }
  }

  .pra-dropdown-content {
    &--no-line {
      border-inline-start: 2px solid transparent;
      margin-inline-start: 11px;
      padding-inline-start: 16px;
    }
    &--stappenplan {
      border-inline-start: 2px solid var(--pra-color-secondary-600);
      margin-inline-start: 11px;
      padding-inline-start: 16px;
    }
  }
}
