li.pra-unordered-list-item {
  align-items: start;
  display: flex;
  font-family: var(--pra-font-sans-serif-font-family);
  font-size: 16px;
  line-height: 24px;
  padding-inline-start: 5px;
  .pra-unordered-list-item-marker {
    align-items: center;
    display: flex;
    height: 24px;
    justify-content: center;
    line-height: 24px;
    min-width: 24px;
    text-align: center;
  }
}
