.pra-progress-container {
  display: flex;
  justify-content: center;
  padding-block: 16px;
  padding-inline: 16px;
  .pra-progress {
    width: 654px;
    hr {
      background-color: #244994;
      border: 0;
      height: 2px;
      margin-block-end: 0;
      margin-block-start: 23px;
      margin-inline: 42px;
      width: calc(100% - 84px);
    }

    .pra-dots {
      display: flex;
      justify-content: space-between;
      margin-block-start: -24px;
      .pra-dot {
        align-items: center;
        background-color: white;
        border: 2px solid #244994;
        border-radius: 50%;
        display: flex;
        height: 42px;
        justify-content: center;
        width: 42px;
        &.pra-dot-filled {
          background-color: #244994;
          filter: drop-shadow(0 4px 4px rgba(0 0 0 / 25%));
        }
        &.pra-dot-checked {
          svg {
            height: 24px;
            width: 24px;
            & * {
              fill: white;
            }
          }
        }
      }
    }
  }
}
