.pra-info-slide {
  align-items: center;
  display: grid;
  gap: 12.5%;
  grid-template-columns: auto;
  grid-template-rows: 62.5% 25%;
  height: 90%;
  justify-items: center;
  overflow: visible;
  padding-block: 5%;
  padding-inline: 15%;
  position: relative;

  & > * {
    position: relative;
  }
  .pra-info-slide-background-container {
    align-items: end;
    display: flex;
    height: 62%;
    justify-content: end;
    left: -4%;
    overflow: visible;
    position: absolute;
    top: 0%;
    width: 90%;
    .pra-info-slide-background-vector {
      height: 100%;
      overflow: visible;
      position: relative;
      width: 100%;
    }
  }
}
