.pra-navigation-bar-item {
  align-items: center;
  background-color: #fff;
  border-top: 3px solid transparent;
  display: flex;
  flex-direction: column;
  height: 26px;
  justify-content: start;
  padding-block-end: 19px;
  padding-block-start: 16px;
  padding-inline-end: 12px;
  padding-inline-start: 12px;
  width: 40px;
  &:hover {
    background-color: #b4b4b4;
    cursor: pointer;
  }
  &-selected {
    border-top: 3px solid var(--pra-color-secondary-600);
  }
  &-icon {
    svg {
      height: 20px;
      width: 20px;
    }
  }
  &-text {
    color: var(--pra-color-text-color);
    font-family: var(--pra-font-sans-serif-font-family);
    font-size: 10px;
    font-style: normal;
    font-weight: 700;
    height: 11px;
    line-height: 10px;
  }
  &-indication-dot {
    background-color: #ff9213;
    border-radius: 50%;
    display: block;
    height: 10px;
    margin-block-start: -40px;
    margin-inline-start: 15px;
    width: 10px;
  }
}
