.pra-search-results-list {
  display: flex;
  flex-direction: column;
  gap: 0;
  padding-block: 0;
  padding-inline: 0;
  width: 100%;
  .pra-search-results-item:nth-of-type(odd) {
    background-color: white;
  }
  .pra-search-results-item:nth-of-type(even) {
    background-color: #f2f8ff;
  }
}
