.pra-menu-item {
  &--small {
    --pra-menu-item-size-factor: 4;
  }
  &--medium {
    --pra-menu-item-size-factor: 8;
  }
  &--large {
    --pra-menu-item-size-factor: 12;
  }
  &--extra-large {
    --pra-menu-item-size-factor: 16;
  }

  align-items: center;
  display: grid;
  gap: 12px;
  grid-template-columns: 1fr;
  grid-template-rows: calc(var(--pra-menu-item-size-factor, 8) * 8px) 24px;
  justify-content: center;

  .pra-menu-item-icon {
    align-items: center;
    background-color: #f2f8ff;
    border-radius: 50%;
    display: flex;
    height: calc(var(--pra-menu-item-size-factor, 8) * 6px);
    justify-content: center;
    margin-block: auto;
    margin-inline: auto;
    padding-block: 8px;
    padding-inline: 8px;
    width: calc(var(--pra-menu-item-size-factor, 8) * 6px);
  }
  .pra-menu-item-image {
    align-items: center;
    border-radius: 12px;
    display: flex;
    height: calc(var(--pra-menu-item-size-factor, 8) * 8px);
    justify-content: center;
    margin-block: auto;
    margin-inline: auto;
    object-fit: cover;
    width: calc(var(--pra-menu-item-size-factor, 8) * 8px);
  }
  .pra-menu-item-label {
    font-family: var(--pra-font-sans-serif-font-family);
    font-size: 16px;
    font-weight: 700;
    min-height: 24px;
    text-align: center;
  }
  &--vertical {
    width: calc(var(--pra-menu-item-size-factor, 8) * 12px);
    .pra-menu-item-label {
      -webkit-box-orient: vertical;
      /* stylelint-disable value-no-vendor-prefix */
      display: -webkit-box;
      justify-content: center;
      /* stylelint-enable value-no-vendor-prefix */
      -webkit-line-clamp: 2;
      line-height: 24px;
      max-height: calc(var(--pra-menu-item-size-factor, 8) * 12px);
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
  &--horizontal {
    grid-template-columns: calc(var(--pra-menu-item-size-factor, 8) * 8px) 1fr;
    grid-template-rows: 1fr;
    justify-content: start;
    max-width: 100%;
    .pra-menu-item-label {
      text-align: start;
    }
  }
}
