.pra-background {
  background-color: var(--pra-color-background-color);
  height: 100%;
  overflow: hidden;
  position: relative;
  width: 100%;
  svg > path {
    fill: var(--pra-color-background-icons-color);
    stroke-width: 0;
  }
}
