.pra-form-field {
  align-items: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 8px;
  justify-content: start;
  padding-block: 8px;
  width: 100%;
  .pra-form-field-input {
    width: auto;
  }

  .pra-form-field-label {
    font-family: var(--pra-font-sans-serif-font-family);
    font-weight: var(--pra-font-size-normal);
    line-height: 24px;
  }

  .pra-form-field-indicator {
    height: 24px;
    width: 24px;
  }

  &-textbox {
    .pra-form-field-input {
      order: 3;
      width: 100%;
    }

    .pra-form-field-label {
      order: 1;
    }

    .pra-form-field-indicator {
      order: 2;
    }
  }
  &-checkbox {
    .pra-form-field-input {
      order: 1;
    }

    .pra-form-field-label {
      order: 2;
    }

    .pra-form-field-indicator {
      order: 3;
    }
  }
}
