.utrecht-button--primary-action {
  &.pra-button-badge {
    --utrecht-button-border-radius: 20px;
    --utrecht-button-primary-action-background-color: var(--pra-color-primary-100);
    --utrecht-button-primary-action-color: var(--pra-color-text-color);
    --utrecht-button-primary-action-font-size: 14px;
    --utrecht-button-primary-action-font-weight: 700;
    --utrecht-button-primary-action-line-height: 24px;
    --utrecht-button-primary-action-padding-block: 1px;
    --utrecht-button-primary-action-padding-inline: 8px;
    --utrecht-button-primary-action-border-width: 0px;
    --_utrecht-button-pressed-background-color: var(--pra-color-secondary-600);
    --_utrecht-button-pressed-border-color: var(--pra-color-secondary-600);
    --_utrecht-button-pressed-color: var(--pra-color-white);
  }
}
