.pra-information-alert {
  background: #ffe9d0;
  border-radius: 8px;
  display: flex;
  flex-direction: row;
  gap: 14px;
  justify-content: center;
  padding-block-end: 11.5px;
  padding-block-start: 11.5px;
  padding-inline-end: 20px;
  padding-inline-start: 12px;
  .pra-information-alert-icon {
    align-items: center;
    display: flex;
    justify-content: center;
  }
  .pra-information-alert-content {
    color: var(--pra-color-text-color);
    font-family: var(--pra-font-sans-serif-font-family);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
    p,
    a {
      color: var(--pra-color-text-color);
    }
  }
}
