.pra-content-area {
  background-color: #fff4e7;
  border-radius: 8px;
  color: var(--pra-color-text-color);
  font-family: var(--pra-font-sans-serif-font-family);
  padding-block: 10px;
  padding-inline: 11.5px;
  width: calc(100% - (11.5px * 2));
}
