.pra-card {
  background: #fff;
  border-radius: 20px;
  box-shadow: 0 -4px 20px 0 #4459851a;
  display: grid;
  font-family: var(--pra-font-sans-serif-font-family);
  gap: 12px;
  grid-template-columns: 1fr;
  grid-template-rows: 150px 48px 48px 24px;
  height: 317px;
  padding-block: 14px;
  padding-inline: 14px;
  width: 250px;
  .utrecht-img {
    border-radius: 20px;
    min-width: 100%;
    object-fit: cover;
  }
  .utrecht-heading-2 {
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
  }
  .utrecht-paragraph {
    -webkit-box-orient: vertical;
    display: block;
    font-size: 16px;
    font-weight: 400;
    height: 48px;
    -webkit-line-clamp: 2;
    line-height: 24px;
    margin-block: 0;
    margin-inline: 0;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .utrecht-link {
    color: var(--pra-color-text-color);
    cursor: pointer;
    text-align: center;
  }
}
