.pra-speach-bulb {
  background: var(--pra-color-speachbulb-color);
  border-radius: 8px;
  color: var(--pra-color-text-color);
  font-family: var(--pra-font-sans-serif-font-family);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  margin-block-start: 20px;
  max-width: 350px;
  min-width: 50px;
  padding-block: 8px;
  padding-inline: 8px;
  width: max-content;
  &::before {
    background: transparent;
    border-color: var(--pra-color-speachbulb-color);
    border-bottom-color: transparent;
    border-left-color: transparent;
    border-radius: 20%;
    border-style: solid;
    border-width: 15px;
    content: "";
    display: block;
    margin-block: -15px;
    margin-inline-start: auto;
    transform: rotate(-60deg) skewX(-30deg) scale(1, 0.866);
    width: 0;
  }
}
