.pra-indicator {
  align-items: center;
  display: flex;
  flex-direction: row;
  font-family: var(--pra-font-sans-serif-font-family);
  font-size: 14px;
  gap: 10px;
  justify-content: start;
  line-height: 16px;
  width: 100%;
  svg {
    fill: black;
    height: 24px;
  }
  &-label {
    margin-inline-end: auto;
  }
  &-bookmark-icon {
    cursor: pointer;
  }
}
