.pra-grid-layout-cell {
  align-items: var(--pra-grid-layout-cell-align-items);
  display: flex;
  flex-direction: column;
  grid-column-end: var(--pra-grid-layout-cell-column-end);
  justify-content: var(--pra-grid-layout-cell-justify-content);
  padding-inline: var(--pra-grid-layout-cell-padding-inline);
}
