.pra-currency {
  input {
    box-sizing: border-box;
    font-family: var(--pra-font-sans-serif-font-family);
    gap: 8px;
    padding-block: 12px;
    padding-inline-end: 16px;
    padding-inline-start: 34px;
  }
  &::after {
    align-items: center;
    color: black;
    content: attr(data-currencySymbol);
    display: block;
    font-size: 18px;
    height: 28px;
    margin-block-start: -34px;
    margin-inline-start: 18px;
  }
}
