.pra-search-results-item {
  background-color: white;
  display: flex;
  flex-direction: column;
  gap: 4px;
  padding-block: 20px;
  padding-inline: 20px;
  .pra-search-results-item-header {
    display: grid;
    gap: 16px;
    grid-template-columns: 1fr 24px;
    grid-template-rows: auto;
    .pra-search-results-item-title {
      font-family: var(--pra-font-sans-serif-font-family);
      font-size: 16px;
      font-weight: 700;
    }
  }
  .pra-search-results-item-subtitle {
    font-family: var(--pra-font-sans-serif-font-family);
    font-size: 14px;
    font-weight: 700;
  }
  .pra-search-results-item-description {
    font-family: var(--pra-font-sans-serif-font-family);
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0.5px;
    line-height: 24px;
  }
}
