.pra-back-link {
  align-items: center;
  display: flex;
  flex-direction: row;
  font-family: var(--pra-font-sans-serif-font-family);
  font-size: 14px;
  font-weight: 700;
  gap: 4px;
  justify-content: center;
  letter-spacing: 1px;
  line-height: 16px;
  padding-block: 5px;
  padding-inline-end: 5px;
  padding-inline-start: 5px;
  text-align: center;
  width: 90px;
  svg {
    height: 24px;
    width: 24px;
  }
  &:hover {
    cursor: pointer;
  }
}
