.pra-page {
  display: grid;
  grid-template-areas:
    "header"
    "main"
    "footer";
  grid-template-columns: auto;
  grid-template-rows: auto 1fr 64px;
  height: 100%;
  min-width: 100%;
  .pra-page-background {
    height: 100%;
    position: absolute;
    width: 100%;
  }
  header {
    grid-area: header;
    position: relative;
  }
  main {
    grid-area: main;
    height: auto;
    -ms-overflow-style: none; /* IE and Edge */
    overflow-y: scroll;
    padding-block-end: 16px;
    position: relative;
    scrollbar-width: none; /* Firefox */
    &::-webkit-scrollbar {
      display: none;
    }
  }
  footer {
    grid-area: footer;
    position: relative;
  }
}
