.pra-header {
  display: flex;
  flex-direction: column;
  svg > path {
    fill: var(--pra-color-text-color);
  }
  .pra-header-sub {
    height: fit-content;
    padding-inline: 20px;
    position: relative;
    .pra-speach-bulb {
      position: absolute;
      right: 7px;
    }
  }
}
